

--No need to use following line it because script is to be launched by #run_all.cmd
--use [DB]

SET DATEFORMAT 'dmy' --mdy
go

print 'staging start'
go

--DO NOT use following syntax in template, because no ones remembers how to actually fill in things
--if object_id('', 'U') is not null drop table [TARGET]
--and DO NOT delete above note for future generations coming with same idea

--therefore leave following (more helpful and memory refreshing) syntax in template
if object_id('[etlt032].staging_sftp217_virtualpack', 'U') is not null 
   drop table [etlt032].staging_sftp217_virtualpack
go

go
select * into [etlt032].staging_sftp217_virtualpack
  from ( 
    select

     [DT_FNAME] as [DT_FNAME]
	,[DT_EOL] as [DT_EOL]
	,[ID] as [ID]
	,[ElementID] as [ElementID]
	,CASE WHEN (len([ElementCount]) - len(replace([ElementCount], ',', ''))) > 1 OR (charindex(',',[ElementCount]) <> 0 AND charindex('.',[ElementCount]) <> 0 AND charindex('.',[ElementCount]) > charindex(',',[ElementCount]))    THEN cast('DT STAGING DATA TYPE ERROR: multiple decimal point.' as int)    ELSE cast(replace(replace(replace(replace([ElementCount], '.', ''), ' ', ''), 0xA0, ''),',','.') as decimal(35, 4)) END as [ElementCount]
	,[DT_LOAD_ID] as [DT_LOAD_ID]
	,[DT_LOAD_SOURCE_PATH] as [DT_LOAD_SOURCE_PATH]
	,[DT_LOAD_SOURCE_FILE] as [DT_LOAD_SOURCE_FILE]

	from [etlt032].[load__rc_rd_fe_virtualpack]
) x
go
